.p-20
{
    padding: 20px;
}
.pt-20
{
    padding-top: 20px;
}
.m-20
{
    margin: 20px;
}
.bg-eee
{
    background-color: #eee;
}
.pb-20
{
    padding-bottom: 20px;
}
.bg-white
{
background-color: white;
}
.red-6
{
    border-radius: 6px;
}